New Feature:

- enable - enable a bank account
	- should ask for the bank account holder's name (as a text line).
	- Should ask for the account number (as a text line).
	- Should change the bank account form disabled (D) to active (A).
	- Should save this information for the bank account transaction file.

	- Constraints
		- Privileged Transaction - Only accepted when logged in admin mode.
		- Account holder's name must be the name of an existing account holder.
		- Account number must be the number of the account holder specified.



- Assume accounts cannot complete more than 9,999 transactions per day.
- Check for EoF to see when the input file is complete.
- A second login attempt will be rejected and ignored. Subsequent transactions will be considered as part of the first account login.
- Front end is used to generate transaction output files that the back end will manage. Front end must also check for constraints and create output files that meet these constraints.
- Front end should check for transaction constraints. (Includes trying to withdraw more money than the account is allowed). If the front end is restarted and try again, it should still correctly fail to withdraw more money than allowed.
- Account balance can't go into negatives.
- Front end should should keep track of balances.
- Front end should not be reading in transaction output files, or start fresh each session from the master accounts list.
- Deposits should niether be available in the same login session or in the same day. You cannot access the funds until the next day after the back end has applied the transactions.
- An admin can delete an account that has been disabled.
- If the account name for account creation is greater than 20 characters, it should be truncated if necessary.
- The special bank account with account holder's name END_OF_FILE, the account number, active/disabled, and balance do not matter.
- The above rule for END_OF_FILE also applies to end of session line.
​- Everyone can add an extra flag to the end of the current and master bank accounts files, e.g. NNNNN_AAAAAAAAAAAAAAAAAAAA_S_PPPPPPPP_Q, where Q is S for student plans and N for non-student plans. (Copy pasta, you're on your own.)
- By default, accounts should be non-student plans.
- Changeplan should be able to change from student to non-student plans and vice-versa.
- Users should not be allowed to access the END_OF_FILE account.
- The front end needs to support input from command line input and text file. And it should wait unless your text file told it to terminate.
- Money will always be in the format of #####.## where # is a number 0-9. No dollar signs. Values that don't fit in this format aren't allowed.
- Admins can perform any action when they've logged into an account, unless the account is disabled. Reject log ins on non-matching name/accounts, even if they are an admin.
- Admins are allowed any amount that fit the #####.## format.
- Deduct the fee first with withdrawals, and then check if the remaining amount is enough. If it isn't, return the free.
- In paybill the company name will always be provided as 2 letters.
- Do not worry about the case where an account is deleted, no need to reserve the account number.
- When an account is disabled, the use can login, but no transactions can be made.
- Admins can re-enable an account. (Turn an account from disabled to active)
- At the end of each session, when the logout transaction is processed, a bank account transaction file for the session is written.
- When an account is disabled, no transactions should be allowed during the same session. The front end should keep track of each accounts have been disabled.
- Withdraw, Deposit, Transfer, and Paybill transactions are the ones that incur fees.
- Fees are not charged when an admin is logged in.
- Front end should keep track of if the current logged in user is standard or admin.
- Log when someone logs in. Use the transaction code "10" for login. For the Miscellaneous information , use "A" for admin and "S" for standard logins.
- Assume no two users can have the exact same name.
- Bank will only give out paper money, no coins. (i.e. $5, $10, $20, $50, $100)
- Assume bank is Canadian money only.
- Paper currency applies only to withdrawals.
- If you run disable on a enabled account, you immediately can't run transactions with it.
- If you run enable on a disabled account, you can immediately run transactions with it again.
- If an account is changed to a student halfway through, the charges are at the student rate.
- "00" (end of session) is the transaction code for logging out.
- CC_AAAAAAAAAAAAAAAAAAAA_NNNNN_PPPPPPPP_QM is the format for each transaction in the bank account transaction file.
- NNNNN_AAAAAAAAAAAAAAAAAAAA_S_PPPhePPPPP is the format for the current bank account.
- Maximum for withdrawal and transfer is for the entire day. These are limits on the account. Not the person.
- If a transaction is cancelled, it should return back to where they can try another transaction.
- Transfers are greating that $0.
- An admin can pay a bill for any account.
- The maximum amount of money that can be paid to a bill holder is a current day is $2000.
- The output should be transaction logs.
- Even though deposited money cannot be accessed, keep track of it in the front end to not exceed the limit.
- If an account is disabled, and you try to disable it, or if an account is enabled, and you try to enable it, it should just fail gracefully and not do anything. Do not be logged in the transaction file.
- New accounts should have new names.
- If an account is disabled, no one can transfer funds to it.
- Responsibility of the back end to manage days.
- Transaction limits apply to accounts.
- You can deposit any amount. (Even cents, think of a cheque)
- When depositing, they can deposit any amount as long as they stay about zero. (Depositing less money than the deposit fee)
- An admin can deposit into any account. Standard users can only deposit into the account they logged into.
- When an admin disables/enables an account, there should be only one transaction line.
- When an admin does a transaction, the transaction line should have the account holder's name and number since the admin doesn't need to provide any identifiers.
- When an admin logs in, the account holder and account name should be blank or filled with 0's. (make sure to have the correct amount of spaces or 0's)
- If anything in the transaction file is not as long as the space of the format, it should be left aligned and the rest should be filled with spaces.
- If miscellaneous information isn't necessary for the transaction file, fill it with spaces.
- A created account can't be used in the same day.
- For paybill the maximum is $2000 per company, not in total.
- An account doesn't have to be disabled to be deleted.
- Assume there are no errors in the accounts file.